*.swp
*.swn
*.swo
*~

# Generated install
bin/dotfiles
config/dotfiles/path

config/nvim/autoload/plug.vim
config/nvim/autoload/plug.vim.old
config/nvim/plugged
config/nvim/session
config/nvim/spell
config/nvim/.netrwhist
config/nvim/tmp
config/nvim/local_*.vim

vendor/*/
*.local
