*.swp
*.swn
*.swo
*~

config/nvim/autoload/plug.vim
config/nvim/autoload/plug.vim.old
config/nvim/plugged
config/nvim/session
config/nvim/spell
config/nvim/.netrwhist
config/nvim/tmp
config/nvim/local_*.vim

vendor/*/

.DS_Store
