[Unit]
Description="Download updates via pacman, for fast installation later."

[Service]
Type=simple
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7
ExecStart=pacman -Syu --downloadonly --noconfirm
User=root
Group=root

