snippet desc "Jasmine describe"
describe("$1", function() {
  it$0
});
endsnippet

snippet it "Jasmine example"
it("${1:does something}", function() {
  $0
});
endsnippet

snippet f "Anonymous function"
function(${1:arguments}) {
  $0
}$2
endsnippet
