[Unit]
Description="Syncs mailboxes at intervals"
Wants=network-online.target

[Timer]
WakeSystem=false
OnStartupSec=2m
OnUnitInactiveSec=5m

[Install]
WantedBy=timers.target
