[Unit]
Description="Syncs mailboxes at intervals"

[Timer]
WakeSystem=false
OnStartupSec=2m
OnUnitInactiveSec=5m
Wants=network-online.target

[Install]
WantedBy=timers.target
