# vim:ft=conf
#
# Uncomment lines and change "Foo" into a project you want to ignore on this machine.
#
# report.scoped.filter=project.not:Foo
# report.blocked.filter=status:pending +BLOCKED project.not:Foo
# report.blocking.filter=status:pending +BLOCKING project.not:Foo
# report.completed.filter=status:completed project.not:Foo
# report.list.filter=status:pending project.not:Foo
# report.long.filter=status:pending project.not:Foo
# report.ls.filter=status:pending project.not:Foo
# report.minimal.filter=( status:pending or status:waiting ) project.not:Foo
# report.newest.filter=( status:pending or status:waiting ) project.not:Foo
# report.next.filter=status:pending limit:page project.not:Foo
# report.overdue.filter=( status:pending or status:waiting ) and +OVERDUE project.not:Foo
# report.ready.filter=+READY project.not:Foo
# report.recurring.filter=(status:pending or status:waiting) and (+PARENT or +CHILD) project.not:Foo
# report.unblocked.filter=status:pending -BLOCKED project.not:Foo
# report.waiting.filter=+WAITING project.not:Foo
