* {
  padding: 0;
  margin: 0;
}

window#waybar {
  font-family: Inter;
  font-size: 0.9rem;
  color: #cdd6f4;
  background: transparent;
}

#taskbar {
  background: transparent;
}

#custom-media,
.modules-center,
.modules-right,
#taskbar button,
#workspaces button {
  background: alpha(#313244, 0.8);
  padding: 0 0.6rem;
  border-radius: 1rem;
}

#custom-media,
#clock,
#window,
#tray,
#cpu,
#memory,
#disk,
#pulseaudio,
#taskbar,
#clock {
  padding: 0 0.4rem;
}

#custom-media,
#tray,
#clock {
  margin: 0 1rem;
}

#workspaces {
  padding: 0;
}

#clock {
  padding-right: 0;
}

#clock {
  margin-right: 10px;
}

#taskbar button.active {
  background: alpha(#cba6f7, 0.8);
  color: #000;
}

#taskbar button + button {
  margin-left: 0.5rem;
}

#workspaces button {
  min-width: 24px;
  padding: 0 0.4rem;
  border-radius: 1rem;
}

#workspaces button + button {
  margin-left: 0.5rem;
}

#workspaces button.urgent {
  background: #eba0ac;
}

#workspaces button.active {
  background: #a6e3a1;
  color: #181825;
}

/* Workspace colors */

#workspaces button:nth-child(5n) {
  color: #a6e3a1;
}

#workspaces button:nth-child(5n).active {
  color: #181825;
  background: #a6e3a1;
}

#workspaces button:nth-child(5n + 1) {
  color: #94e2d5;
}

#workspaces button:nth-child(5n + 1).active {
  color: #181825;
  background: #94e2d5;
}

#workspaces button:nth-child(5n + 2) {
  color: #74c7ec;
}

#workspaces button:nth-child(5n + 2).active {
  color: #181825;
  background: #74c7ec;
}

#workspaces button:nth-child(5n + 3) {
  color: #89b4fa;
}

#workspaces button:nth-child(5n + 3).active {
  color: #181825;
  background: #89b4fa;
}

#workspaces button:nth-child(5n + 4) {
  color: #b4befe;
}

#workspaces button:nth-child(5n + 4).active {
  color: #181825;
  background: #b4befe;
}
