* {
  padding: 0;
  margin: 0;
}

window#waybar {
  font-family: Overpass;
  font-size: 0.9rem;
  color: #cdd6f4;
  background: transparent;
}

#workspaces,
#custom-media,
.modules-center,
.modules-right {
  background: alpha(#1e1e2e, 0.8);
  padding: 0 0.6rem;
  border-radius: 1rem;
}

#custom-media,
#clock,
#window,
#tray,
#cpu,
#memory,
#disk,
#pulseaudio,
#clock {
  padding: 0 0.4rem;
}

#custom-media,
#tray,
#clock {
  margin: 0 1rem;
}

#workspaces {
  padding: 0;
  border-radius: 1rem;
}

#clock {
  padding-right: 0;
}

#clock {
  margin-right: 10px;
}

#workspaces button {
  min-width: 24px;
}

#workspaces button.urgent {
  background: #eba0ac;
}

#workspaces button.active {
  background: #a6e3a1;
  color: #181825;
  border-radius: 0;
}

/* Workspace colors */

#workspaces button:first-child {
  border-radius: 1rem 0 0 1rem;
  padding-left: 0.4rem;
}

#workspaces button:last-child {
  border-radius: 0 1rem 1rem 0;
  padding-right: 0.4rem;
}
#workspaces button:first-child:last-child {
  border-radius: 1rem;
}

#workspaces button:nth-child(5n) {
  color: #a6e3a1;
}

#workspaces button:nth-child(5n).active {
  color: #181825;
  background: #a6e3a1;
}

#workspaces button:nth-child(5n + 1) {
  color: #94e2d5;
}

#workspaces button:nth-child(5n + 1).active {
  color: #181825;
  background: #94e2d5;
}

#workspaces button:nth-child(5n + 2) {
  color: #74c7ec;
}

#workspaces button:nth-child(5n + 2).active {
  color: #181825;
  background: #74c7ec;
}

#workspaces button:nth-child(5n + 3) {
  color: #89b4fa;
}

#workspaces button:nth-child(5n + 3).active {
  color: #181825;
  background: #89b4fa;
}

#workspaces button:nth-child(5n + 4) {
  color: #b4befe;
}

#workspaces button:nth-child(5n + 4).active {
  color: #181825;
  background: #b4befe;
}
