// vim: set sw=4 ts=4

input {
    keyboard {
        xkb {
            layout "us"
            options "mange:custom,caps:super"
        }
        repeat-delay 300
        repeat-rate 40 
    }

    touchpad {
        tap
        natural-scroll
    }
}

layout {
    gaps 10

    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width { proportion 0.5; }

    focus-ring { off; }

    border {
        width 3
        active-gradient from="#cba6f7" to="#fab387" angle=315
        inactive-gradient from="#9399b2" to="#45475a" angle=315
    }

    shadow {
        // on

        // You can change how shadows look. The values below are in logical
        // pixels and match the CSS box-shadow properties.

        // Softness controls the shadow blur radius.
        softness 30

        // Spread expands the shadow.
        spread 5

        // Offset moves the shadow relative to the window.
        offset x=0 y=5

        // You can also change the shadow color and opacity.
        color "#0007"
    }

    // Struts shrink the area occupied by windows, similarly to layer-shell panels.
    // You can think of them as a kind of outer gaps. They are set in logical pixels.
    // Left and right struts will cause the next window to the side to always be visible.
    // Top and bottom struts will simply add outer gaps in addition to the area occupied by
    // layer-shell panels and regular gaps.
    struts {
        left 15
        right 15
        // top 64
        // bottom 64
    }
}

// Ask the clients to omit their client-side decorations if possible.
prefer-no-csd

screenshot-path "~/Media/Pictures/Screenshot_%Y-%m-%d_%H-%M-%S.png"

animations { }

debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}

include "./monitors.kdl"
include "./keybinds.kdl"
include "./rules.kdl"
include "./apps.kdl"

include "./noctalia.kdl"
